@import "variables";

html, body {
  width: 100%;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
    margin: 0;
    color: white;
    padding: 2% 0;
    font-family: 'Comic Sans MS', Helvetica, Arial, sans-serif;
}

.btn {
    background-color: $button;
    color: white;
}
.btn:hover {
    color: white;
    opacity: 0.7;
    filter: alpha(opacity=70);
}