extends layout

block content
    div(id="guideline" ng-controller="guidelineCtrl as vm" ng-init="vm.init('#{ua}','#{room_id}', '#{datas}');")
        #pc.row(ng-if="vm.user_agent=='pc'")
            #left.col-sm-3
                .process(ng-repeat="data in vm.select_datas")
                    img(ng-src="{{data.src}}")
                    .arrow(ng-show="!$last")
            #right.col-sm-9
                br
                | ID :
                span#id
                br
                br
                #display
                    .row(style="height:100%;")
                        .col-md-5(style="height:100%;")
                            #peer-camera.camera
                                video(autoplay)
                        .col-md-7(style="height:100%;")
                            #pcVideo
                                video(autoplay)
                            #servo
                                p Servo Controller
                                center
                                    input(class="form-control" type="text" placeholder="Input Angle of rotation" id="example-text-input" ng-model="vm.rot_data" ng-pattern="/^([1-9][0-9]*)$/")
                                br
                                button(type="button" class="btn" ng-click="vm.sendServo()" ng-disabled="!vm.rot_data") Submit
        div(id="sp" ng-if="vm.user_agent=='sp'")
            //button(id="login" ng-click="vm.connect()") Connect
            div(id="spVideo")
                video(autoplay)