extends layout

block content
    h1= title
    p Welcome to #{title}
    video(id="myVideo" width="400" height="300" autoplay="0")
    video(id="spVideo" width="400" height="300" autoplay="0")
    img(id="test" width="500" height="400" style="background-color:red;")

    script.
        var socket = io.connect(location.origin);
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || window.navigator.mozGetUserMedia;
        window.URL = window.URL || window.webkitURL;

        var video = document.getElementById('myVideo');
        var video2 = document.getElementById('spVideo');
        var localStream = null;
        navigator.getUserMedia({video: true, audio: false}, 
        function(stream) { // for success case
            //console.log(stream);
            video.src = window.URL.createObjectURL(stream);
            //ss(socket).on("sendImg",function(data){
            socket.on("sendImg",function(data){
                //console.log(data);
                //video2.src = window.URL.createObjectURL(data);
                console.log(video2.src);
                document.getElementById("test").setAttribute('src', data);
                //console.log(data);
            });
        },
        function(err) { // for error case
            console.log(err);
        });
