extends layout

block content
    #above
        h1= title
        p 1. Please click a hair style icon
        #hair_styles
            .row
                .col-sm-3.hair
                    img
                    br
                    | twist
                .col-sm-3.hair
                    img
                    br
                    | braid
                .col-sm-3.hair
                    img
                    br
                    | French braid
                .col-sm-3.hair
                    img
                    br
                    | tie
    #bottom
        p 2. aaaaaaaaaaaaaaaaaaaaaaaaaaa
        button(type="button" class="btn btn-danger") Submit